.<div class="panel panel-info">
	  <div class="panel-heading">
			<h3 class="panel-title">Employee Information</h3>
	  </div>
	  <div class="panel-body">
			<div class="form-horizontal">
				<div class="col-md-6">
					<div class="form-group">
						<label class="col-sm-3 control-label">ID</label>
						<div class="col-sm-7 form-control-static">
							<%= @employee.id %>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">First Name</label>
						<div class="col-sm-7 form-control-static">
							<%= @employee.first_name %>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Last Name</label>
						<div class="col-sm-7 form-control-static">
							<%= @employee.last_name %>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">User Type</label>
						<div class="col-sm-7 form-control-static">
							<%= @employee.user_type %>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Job Title</label>
						<div class="col-sm-7 form-control-static">
							<%= @employee.job_title %>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Department</label>
						<div class="col-sm-7 form-control-static">
							<%= @employee.department %>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Admin</label>
						<div class="col-sm-7 form-control-static">
							<%= @employee.admin %>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Reports To</label>
						<div class="col-sm-7 form-control-static">
							<%= @employee.reports_to %>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="col-sm-3 control-label">Email</label>
						<div class="col-sm-7 form-control-static">
							<%= @employee.email %>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Phone Ext.</label>
						<div class="col-sm-7 form-control-static">
							<%= @employee.phone_extension %>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Cell Phone</label>
						<div class="col-sm-7 form-control-static">
							<%= @employee.id %>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Home Phone</label>
						<div class="col-sm-7 form-control-static">
							<%= @employee.cell_phone %>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Address</label>
						<div class="col-sm-7 form-control-static">
							<%= @employee.address %>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Messenger ID</label>
						<div class="col-sm-7 form-control-static">
							<%= @employee.messenger_id %>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Messenger Type</label>
						<div class="col-sm-7 form-control-static">
							<%= @employee.messenger_type %>
						</div>
					</div>

				</div>
			</div>
	  </div>
</div>