<div class="col-md-6">
	<%= f.text_field :name %>
	<%= f.text_field :work_phone %>
	<%= f.text_field :cell_phone %>
	<%= f.check_box :do_not_call %>
	<%= f.text_field :assistant %>
	<%= f.text_field :assistant_phone %>
</div>
<div class="col-md-6">
	<%= f.text_field :lead_source %>
	<%= f.text_field :primary_address %>
	<%= f.text_field :alternate_address %>
	<%= f.text_field :fax %>
	<%= f.submit "Save" %>
</div>
